<%- model_class = Message -%>
<div class="container">
<div id="page-header">
   <h3>タイムカプセルを開く時がきました。</h3>
   <h3><%= @message.notice_date.strftime("%Y年%m月%d日") %>まであと...</h3>
</div>
<div id="container">
  <div id="countdown_dashboard">
    <div class="dash seconds_dash">
      <span class="dash_title">seconds</span>
      <div class="digit">1</div>
      <div class="digit">0</div>
    </div>
  </div>
</div>
<div id="timecupsule" style="display:none;">
  <div class="row">
    <div class="span6">
      <blockquote>
        <p><h2><%= @message.content %></h2></p>
        <small><%= @message.notice_date.to_s %>ツイート <cite>https://twitter.com//cite></small>
      </blockquote>
      </div>
  </div>
</div>
</div>
